body{
    background-color: rgb(73, 73, 73);
    zoom: 2;
    justify-content: center;
    width: 100%;
    align-items: center;
}

input{
    
    margin-right: 20px;
}

#campo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button{
    width: 50%;
    margin-top: 20px;
}

p{
    color: red;
}